@charset "utf-8";
:root {
}
body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: "Noto Sans KR";
}
a {
  text-decoration: none;
  font-style: none;
  color: inherit;
}

/* 이벤트 h2 */
main .container {
  margin: 0 auto;
  padding: 0 5%;
  margin: 0 0 20px;
}
main .container h2 {
  font-family: "YUniverse-B";
  font-size: 90px;
  margin-top: 293px;
  font-weight: 500;
  line-height: 135px;
}

main .container .event {
  margin: 0;
  padding: 0;
}

main .container .event .event_list {
  padding-top: 60px;
  display: grid;
  width: 100%;
  position: relative;
  grid-template: 1fr 1fr 1fr / 650px 650px;
  justify-content: center;
}
main .container .event .event_list .list {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style: 1.5;
  font-size: 14px;
  color: #757575;
}
main .container .event .event_list .list .text {
  text-align: left;
  padding: 30px 30px;
}
main .container .event .event_list .list .text p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  color: #aaa;
}
main .container .event .event_list .list .text h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 15px;
  color: #000;
}
main .container .event .event_list .list .text span {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  color: #888;
}

/* search 부분 */
main .container .ev_day {
  padding: 10px 0;
  margin: 10px 220px;
}
main .container .ev_day fieldset {
  text-align: left;
  border: none;
}
main .container .ev_day fieldset p select {
  display: inline-block;
  min-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 0 0 5px;
  color: #000;
  border: 1px #ddd solid;
}
main .container .ev_day fieldset p input {
  outline: none;
  width: 162px;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
}
main .container .ev_day fieldset p a {
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 11px;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
}
/* 하단 페이지 */
main .container .base_page {
  margin: 30px auto;
}
main .container .base_page a {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  line-height: 13px;
  color: #333336;
  font-weight: bold;
}
