@charset "utf-8";
main #main_review {
    position: relative;
    margin: 120px 0 200px 12%;
    padding: 80px 0;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}
main #main_revie .swiper-container {
    width: 100%;
    height: 100%;
}
main #main_review .swiper-wrapper .mainReviewbox{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-timing-function: ease-out;
    transition-property: transform;
    justify-content: center;
}
main #main_review .swiper-slide {
    text-align: center;
    
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
main #main_review .mainRimg img {
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: block;
}
main #main_review .mainRtext {
    height: auto;
    display: block;
    padding: 0;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    color: #000;
    transition: all 1s linear;
    box-sizing: border-box;
}
main #main_review .mainRtext h2 {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}
main #main_review .mainRtext p {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 200;
    color: #888;
    transition: 3s ease 0s transform;
}
main #main_review .swiper-scrollbar {
    height: 2px;
    background-color: #ededed;
}